<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">

    <title>About</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/floating-labels.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png">
    <!--<link rel="stylesheet" href="/css/styles.css">-->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>
    <div class="container text-center mb-4">
        {{>header}}
        <br><br>
        <p>This site is created by Sarvesh. It uses data from mapbox.com and weatherstack.com</p>
        <br>
        <img width="250px" src="/img/profile.jpg">
        {{>footer}}
    </div>
</body>

</html>